---
import LandingGallery from "../components/LandingGallery.vue";
import Main from "../layouts/Main.astro";
---

<script>

    window.addEventListener('keydown', (event) => {
        if (event.key === '/' || event.key === '.') {
            console.log('you pressed the slash');
            event.preventDefault();
            document.querySelector('div#search input').focus();
        }
    });
</script>


<Main id='search'>
  <div class="max-w-3xl sm:shrink-0">
    <h1
      class="mt-2 bg-gradient-to-br from-white to-gray-600 bg-clip-text text-transparent text-2xl leading-[28px] sm:text-4xl sm:leading-[48px] text-gray-400 font-bold"
    >
      <span class="inline-block max-w-lg align-top"
        >Hi, I'm Thomas,<br />a developer and project manager based in Singapore</span
      >
    </h1>

    <p class="mt-4 mb-8 text-base font-normal text-gray-400">
      <span class="inline-block max-w-[591px] align-top"
        >I've built and shipped digital products both as a solo maker and
        product owner across the finance, automotive, and education sectors.</span
      >
    </p>

    <div>
      <button
        class="items-center hidden gap-2 text-sm font-semibold text-gray-400 transition duration-200 ease-in-out outline-none select-none group hover:text-slate-12 focus:text-slate-12 sm:inline-flex"
        >Press<!-- -->
        <kbd
          class="border border-sky-500 inline-flex h-[22px] w-[22px] select-none items-center justify-center rounded text-sm uppercase bg-sky-400 text-black transition duration-200 ease-in-out group-hover:bg-slate-12 group-focus:bg-slate-12 group-focus:text-black"
          >P</kbd
        >
        <!-- -->for project gallery</button
      >
    </div>
    <div class="flex mt-2 gap-x-4">
      <button
        class="inline-flex items-center justify-center h-10 gap-4 pl-4 pr-4 text-sm font-semibold text-black transition duration-200 ease-in-out bg-white border rounded-md cursor-pointer select-none border-sky-400 hover:bg-white/90 focus:ring-2 focus:ring-white/20 focus:outline-none focus:bg-white/90 disabled:hover:bg-white disabled:cursor-not-allowed disabled:opacity-70 sm:hidden"
        
        >Project gallery</button
      >

    </div>
  </div>

  <!-- <div class="flex justify-end">
    <div class="relative flex items-end">
      <div>
        <LandingGallery />
      </div>
    </div>
  </div> -->

  <div
    class="relative hidden h-[600px]  lg:block overflow-y-auto"
  >
    <LandingGallery />
  </div>
</Main>
