---
import Main from "../layouts/Main.astro";
import LandingGallery from "../components/LandingGallery.vue";
import LandingTitle from "../components/LandingTitle.vue";
---

<Main id="index">
  <div class="md:flex md:items-center md:justify-between md:gap-x-20">
    <LandingTitle class="py-20 md:py-0" client:load />
    <div class="md:h-[700px] md:overflow-y-auto flex max-w-xl py-20 md:py-0">
      <LandingGallery id="landing-gallery" class="block" client:idle />
    </div>
  </div>
</Main>
