---
import LandingFooter from "../components/LandingFooter.vue";
import LandingHeader from "../components/LandingHeader.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Thomas M</title>
  </head>
  <body class="bg-black ">
    <div
      class="min-h-screen md:h-screen relative max-w-screen z-10 flex flex-col justify-between max-w-5xl px-4 mx-auto sm:px-8 md:max-w-7xl gap-y-8"
    >
      <LandingHeader />

      <main class="">
        <slot />
        <!-- content is injected here -->
      </main>

      <LandingFooter class="sticky bottom-0 pt-8 bg-black" />
    </div>
  </body>
</html>
